body {
	color: #8e8e8e;
	margin: 60px auto;
	width: 800px;
	font-family: 'Calibri', 'Arial', 'Helvetica';
}

h1 {
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
h2 {
	letter-spacing: 1.5px;
}

#seal {
	float: right;
	width: 100px;
	height: 100px;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}
header nav ul {
	border-top: 2px solid #d5d5d5;
	border-bottom: 2px solid #d5d5d5;
}
nav a {
	text-transform: uppercase;
	color: #af5050;
}
nav a:hover {
	font-weight: bold;
}
a {
	text-decoration: none;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}
footer a {
	color: #999;
}
